#keyboard-flex,
#space-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  gap: 0.5vw;
}

#space-line {
  margin-top: 0.5vw;
}

.key {
  flex: 0 0 calc(100% / 8);
  border: 2px solid rgb(138, 128, 128);
}

.key:hover {
  border: 2.5px solid gray;
  background-color: rgb(244, 240, 240);
}

.space {
  height: 2.5em;
  flex: 0 0 50%;
}

.show {
  display: inline;
}
.hidden {
  display: none;
}

@keyframes rainbow {
  0% {
    box-shadow: 0px 1px 4px red;
    border-color: red;
    text-shadow: 0px 0px 10px red;
  }
  14% {
    box-shadow: 0px 1px 4px orange;
    border-color: orange;
    text-shadow: 0px 0px 10px orange;
  }
  28% {
    box-shadow: 0px 1px 4px rgb(221, 221, 14);
    border-color: rgb(221, 221, 14);
    text-shadow: 0px 0px 10px rgb(221, 221, 14);
  }
  42% {
    box-shadow: 0px 1px 4px lime;
    border-color: lime;
    text-shadow: 0px 0px 10px lime;
  }
  57% {
    box-shadow: 0px 1px 4px blue;
    border-color: blue;
    text-shadow: 0px 0px 10px blue;
  }
  71% {
    box-shadow: 0px 1px 4px indigo;
    border-color: indigo;
    text-shadow: 0px 0px 10px indigo;
  }
  85% {
    box-shadow: 0px 1px 4px violet;
    border-color: violet;
    text-shadow: 0px 0px 10px violet;
  }
  100% {
    box-shadow: 0px 1px 4px red;
    border-color: red;
    text-shadow: 0px 0px 10px red;
  }
}

.ledKeyboard > button {
  /* text-shadow: 0px 1px 4px rgb(0, 0, 0); */
  border: 2px solid;
  color: rgba(0, 0, 0, 0.716);
  animation: rainbow 5s linear infinite;
}
